.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    max-width: 80vw;
    justify-content: space-around;
    align-items: center;
  }
}
