.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* padding: 20px 10px; */
}

/* @media screen and (min-width: 768px) {
  .homepage {
    padding: 20px 80px;
  }
} */
